<!DOCTYPE html>
<div id="splash" class="container">
	<span>De Sanctary Malaysia</span>
</div>
<div id="page" class="container">
	<div id="content">
		<div class="post">
			<h2 class="title"><a href="#">Welcome to De Sanctuary </a></h2>
			<div class="entry">
				<%= image_tag("body.jpg", :alt => "rss feed", :width => 300, :height => 200) %>
				<p>
					Our body treatments not only cleanse the body, but also stimulate a sluggish metabolism and detoxify the body. The result is a ultra-conditioned, hydrated, polished skin, giving skin a superb and healthy radiance.
				</p>
			</div>
		</div>
		<div style="clear: both;">
			&nbsp;
		</div>
	</div>
</div>
</html>
