<!DOCTYPE html>

<%= image_tag("body.jpg", :alt => "rss feed", :width => 300, :height => 200) %>
<p>
	Our body treatments not only cleanse the body, but also stimulate a sluggish metabolism and detoxify the body. The result is a ultra-conditioned, hydrated, polished skin, giving skin a superb and healthy radiance.
</p>

</html>
