<!DOCTYPE html>

<%= image_tag("facial.jpg", :alt => "rss feed", :width => 300, :height => 200) %>
<p>
	Our treatments specifically target the following:

	1. Oily skin, blackheads, and pimples

	2. Dehyrdated skin

	3. Skin with weak drainage and poor circulation.

	4. Uneven and dull skin

	5. Premature and wrinkled skin

</p>

</html>
