<!DOCTYPE html>
<div id="splash" class="container">
	<span>De Sanctary Malaysia</span>
</div>
<div id="page" class="container">
	<div id="content">
		<div class="post">
			<h2 class="title"><a href="#">Welcome to De Sanctuary </a></h2>
			<div class="entry">
				<%= image_tag("facial.jpg", :alt => "rss feed", :width => 300, :height => 200) %>
				<p>
					Our treatments specifically target the following:

					1. Oily skin, blackheads, and pimples

					2. Dehyrdated skin

					3. Skin with weak drainage and poor circulation.

					4. Uneven and dull skin

					5. Premature and wrinkled skin

				</p>
			</div>
		</div>
		<div style="clear: both;">
			&nbsp;
		</div>
	</div>
	<div style="clear: both;">
		&nbsp;
	</div>
	</html>
