<!DOCTYPE html>

<%= image_tag("address.jpg", :alt => "rss feed", :width => 700, :height => 500) %>
<p>
	Location
	9-1,Plaza Danau 2,
	Jalan 4/109F,
	Off Jalan Klang Lama,
	Taman Danau Desa,
	58100 Kuala Lumpur,
	Malaysia.
</p>

</html>
