<!DOCTYPE html>
<div id="wrapper">
	<div id="splash" class="container">
		<span>De Sanctary Malaysia</span>
	</div>
	<div id="page" class="container">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Welcome to De Sanctuary </a></h2>
				<div class="entry">
					<p>
						Oxygen Botanicals™
						The Secret to Healthy SkinUp to half the oxygen content in our skin can be lost by the age of 25. As we age our skin becomes less efficient at renewing itself resulting in slower cellurlar metabolism, the reduction of collagen and elastin content, and the appearance of fine lines and discolourations.How is Oxygen Botanicals™ Different?Oxygen Botanicals™ is the first skincare line infused with pure oxygen that is not chemically derived. Most oxygen product lines utilize hydrogen peroxide, which produces oxygen through a chemical reaction and can bleach skin and facial hair and be drying to the skin.
						Oxygen Botanicals™ has developed the unique and proprietary process to stabilize and encapsulate pure oxygen into catezome structures, an advanaced liposome delivery system, that time-releases oxygen and other nutrients into the skin. Twelve different sizes of catezomes disperse into the skin approximately every 50 minutes with the largest catezomes releasing their nutrients to the skin first. With twice dayily applications, Oxygen Botanicals™formulations provide 24-hour rejuvenating oxygen to the skin, leaving it feeling more supple and healthy looking.

					</p>
				</div>
			</div>
			<div style="clear: both;">
				&nbsp;
			</div>
		</div>
	</div>
</div>
</html>
