<!DOCTYPE html>

<%= image_tag("Massage.jpg", :alt => "rss feed", :width => 300, :height => 200) %>
<p>
	Massage roughly translates to the “power of touch”, and is the oldest form of health therapy. Our quick hands and oils loosen stiff muscles, help improve circulation, soothe the mind, and improve sense of well being. Come to our Massage treatment and feel completely relaxed and carefree.
</p>

</html>
